.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.titleWinner {
    color: red;
    margin: 0;
}

.messageWinner {
    color: #222;
    margin: 0;
}